// @import './variables';

.contact {
  padding: 100px 20px;
  // background-color: $header-bg;
  text-align: center;

  h2 {
    font-size: 40px;
    color: $text-color  ;
    margin-bottom: 16px;
  }

  &_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  &-subtitle {
    font-size: 18px;
    color: $gray;
    max-width: 700px;
    margin: 0 auto 60px;
  }

  &-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    margin-bottom: 60px;
  }

  &-info {
    text-align: left;


    h3 {
      font-size: 22px;
      color: $accent;
      margin-bottom: 20px;
    }

    ul {
      list-style: none;
      padding: 0;
      color: $text-color;
      opacity: .9;

      li {
        margin-bottom: 12px;
        font-size: 16px;
      }
    }
  }

  &-form {
    text-align: left;

    h3 {
      font-size: 22px;
      color: $accent;
      margin-bottom: 20px;
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 16px;

      input,
      textarea {
        width: 420px;
        background: $white;
        padding: 12px 16px;
        color: $text-color;
        border: 1px solid $text-light;
        border-radius: 8px;
        font-size: 16px;
        resize: vertical;
      }

      button {
        padding: 14px;
      background-color: $accent;
        color: $white;
        border: none;
        font-size: 16px;
        border-radius: 8px;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
        background-color: $card-bg;
        color: $header-bg;
        }
      }
    }
  }

  &-map {
    iframe {
      width: 80%;
      height: 400px;
      border-radius: 12px;
      border: none;
    }
  }

}